html,
body {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: radial-gradient(#ffffff, #e5e5e5);
  padding-top: 40px;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  color: #767676;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #efefef;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 15px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  font-family: "Lato";
}

@media (max-width: 976px) {
  footer {
    display: block;
  }
}

#vimeo {
  margin-right: 5px;
}

#youtube {
  margin-left: 5px;
}

@media (max-width: 976px) {
  #mail {
    float: left;
  }
}

@media (max-width: 976px) {
  #copyright {
    float: right;
  }
}

.footer-icons {
  font-size: 30px;
}

@media (max-width: 976px) {
  .footer-icons {
    width: 100%;
    text-align: center;
  }
}

.bg-light {
  background-color: #efefef !important;
  padding: 2%;
}

.navbar {
  margin: 0;
  padding: 20px 0 20px 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: #e92569 !important;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-left: 5%;
  font-family: "Playfair Display";
}

.d-flex {
  padding-right: 5%;
}

a.nav-link {
  color: #0a0a0a !important;
  font-size: 16px;
  margin-left: 15px;
}

@media (max-width: 976px) {
  a.nav-link {
    margin-top: 5%;
    margin-left: 0px;
    padding-left: 5% !important;
  }
}

a.nav-link.active {
  color: #0a0a0a !important;
  background-color: white;
}

.me-2 {
  margin-right: 0 !important;
  font-size: 15px;
  color: #767676 !important;
}

nav .form-control {
  color: white;
  border: none;
  border-radius: 0px;
  height: 50px;
}

@media (max-width: 976px) {
  nav .form-control {
    margin-left: 5%;
    margin-top: 8%;
  }
}

.btn-outline-success {
  background-color: #e92569 !important;
  color: white;
  border: 0;
  font-size: 16px;
  border-radius: 0px 7px 7px 0px;
}

@media (max-width: 976px) {
  .btn-outline-success {
    margin-top: 8%;
  }
}

.navbar-toggler {
  color: #767676 !important;
  border: none;
  margin-right: 5% !important;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin: 0% !important;
  }
}

.carousel-indicators [data-bs-target] {
  height: 35px;
  width: 35px;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  margin-left: 0.8%;
  margin-right: 0.8%;
}

.carousel-indicators .active {
  background-color: #e92569 !important;
}

h1 {
  margin-left: 5%;
  color: #e92569;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 34px;
  font-family: "Playfair Display";
}

p {
  width: 90%;
  margin-left: 5%;
  font-size: 16px;
  font-family: "Lato";
}

.accordion {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
}

.accordion-item {
  background-color: white;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
  margin-top: 1px;
}

.accordion-button:after {
  display: none;
}

.accordion-button .active {
  border: none;
}

.accordion-button {
  color: #e92569 !important;
  background-color: white !important;
  font-size: 19px;
  font-family: "Lato";
}

.accordion h2 {
  margin-left: 2%;
}

.accordion-body {
  border-top: 3px solid #e92569 !important;
  color: #767676 !important;
  background-color: white !important;
}

.accordion img {
  width: 98%;
  margin-left: 2%;
}

.accordion p {
  width: 98%;
  margin-left: 2%;
  font-size: 16px;
}

.share-sm {
  color: #0a0a0a;
  font-size: 16px;
  margin-top: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.share-sm .fab {
  font-size: 30px;
}

.tab-content {
  width: 90%;
  margin-left: 5%;
}

.nav-tabs {
  width: 90%;
  margin-left: 5%;
  border-bottom: none;
  margin-top: 5%;
}

.tab-buttons {
  display: inline;
  color: #e92569 !important;
  width: 100px;
  background-color: white;
  border: none !important;
}

.tab-buttons.active {
  color: #767676 !important;
  border-radius: 7px 7px 0px 0px;
  background-color: white;
}

.tab-content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0.5px 0.5px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0.5px 0.5px;
  border-radius: 0px 10px 10px 10px;
  border: none;
  background-color: white;
  margin-bottom: 520px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.tab-content img {
  width: 30%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  float: left;
  padding-bottom: 2%;
}

.tab-content p {
  width: 60%;
  margin-left: 36%;
  padding-top: 2%;
}

.share-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-left: 36%;
  bottom: 8%;
  position: absolute;
  font-size: 16px;
}

.share-md .fab {
  font-size: 30px;
  margin-top: -5px;
}

.pagination {
  margin-left: 5%;
  border-radius: 5px;
}

.page-link {
  border: 2px solid #e92569 !important;
  color: #e92569 !important;
}

.first-page {
  color: white !important;
  background-color: #e92569 !important;
}

.container {
  min-width: 90%;
}

.card {
  border: none;
  border-radius: 10px;
  margin-bottom: 6%;
  background-color: white;
  font-family: "Lato";
}

.card img {
  border-radius: 10px 10px 0px 0px;
}

.card-title {
  width: 80%;
  margin-left: 5%;
  color: #0a0a0a !important;
  font-size: 20px;
}

.card-text {
  color: #767676 !important;
  font-size: 18px;
  margin-top: 10%;
}

.card-btn {
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #e92569), color-stop(10%, #767676));
  background: linear-gradient(90deg, #e92569 90%, #767676 10%);
  width: 90%;
  margin-left: 5%;
  border: none;
  font-size: 16px;
  padding: 5%;
  margin-top: 10%;
}

.submit-form {
  min-width: 50%;
  float: left;
  background-color: #efefef;
  border-radius: 7px;
  padding: 3%;
  margin-left: 5%;
  font-family: "Lato";
  font-size: 20px;
  color: #767676;
}

@media (max-width: 976px) {
  .submit-form {
    width: 100%;
    margin-left: 0;
    padding: 5%;
    margin-bottom: 10%;
  }
}

.submit-form .form-control {
  margin-left: 0;
  border-radius: 7px;
  border: none;
}

.submit-form .btn {
  width: 100%;
  background-color: #767676;
  margin-top: 20px;
  border: none;
  opacity: 1;
  font-size: 22px;
}

.submit-form .form-check input {
  background-color: #e92569;
  border: none;
  width: 40px;
  height: 40px;
}

.submit-form .form-check-label {
  height: auto;
  position: absolute;
  margin-top: 12.5px;
  margin-left: 10px;
  width: 40%;
  font-size: 15px;
}

@media (max-width: 976px) {
  .submit-form .form-check-label {
    width: 70%;
  }
}

#exampleFormControlInput1 {
  height: 60px;
}

#basic-addon3 {
  border: none;
  color: white;
  background-color: #c7c7c7;
}

@media (max-width: 976px) {
  #basic-addon3 {
    display: none;
  }
}

#basic-url {
  height: 60px;
}

.contact-details {
  margin-left: 60%;
  margin-top: 5%;
}

@media (max-width: 976px) {
  .contact-details {
    margin-left: 5%;
    width: auto;
  }
}

.contact-info {
  font-size: 40px;
  color: #767676;
  display: inline;
}

.contact-info p {
  font-size: 16px;
  font-family: "Lato";
  margin-top: -40px;
  margin-bottom: 45px;
  margin-left: 10%;
}

@media screen and (max-width: 976px) {
  .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .contact-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contaact-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -8%;
  }
  .submit-form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=style.css.map */