.carousel-indicators [data-bs-target] {
  height: 35px;
  width: 35px;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  margin-left: 0.8%;
  margin-right: 0.8%;
}
.carousel-indicators .active {
  background-color: getColour(primary-colour) !important;
}

h1 {
  margin-left: $content-margin;
  color: getColour(primary-colour);
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 34px;
  font-family: $primary-font;
}

p {
  width: $content-width;
  margin-left: $content-margin;
  font-size: 16px;
  font-family: $secondary-font;
}

.accordion {
  width: $content-width;
  margin-left: $content-margin;
  margin-bottom: 50px;
}

.accordion-item {
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
  margin-top: 1px;
}

.accordion-button:after {
  display: none;
}

.accordion-button .active {
  border: none;
}

.accordion-button {
  color: getColour(primary-colour) !important;
  background-color: white !important;
  font-size: 19px;
  font-family: $secondary-font;
}

.accordion h2 {
  margin-left: 2%;
}

.accordion-body {
  border-top: 3px solid getColour(primary-colour) !important;
  color: getColour(secondary-colour) !important;
  background-color: white !important;
}

.accordion img {
  width: 98%;
  margin-left: 2%;
}

.accordion p {
  width: 98%;
  margin-left: 2%;
  font-size: 16px;
}

.share-sm {
  color: getColour(title-colour);
  font-size: 16px;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tab-content {
  width: $content-width;
  margin-left: $content-margin;
}

.nav-tabs {
  width: $content-width;
  margin-left: $content-margin;
  border-bottom: none;
  margin-top: 5%;
}

.tab-buttons {
  display: inline;
  color: getColour(primary-colour) !important;
  width: 100px;
  background-color: white;
  border: none !important;
}

.tab-buttons.active {
  color: getColour(secondary-colour) !important;
  border-radius: 7px 7px 0px 0px;
  background-color: white;
}

.tab-content {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.5px 0.5px;
  border-radius: 0px 10px 10px 10px;
  border: none;
  background-color: white;
  margin-bottom: 520px;
}

.tab-content img {
  width: 30%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  float: left;
}

.tab-content p {
  width: 60%;
  margin-left: 36%;
  padding-top: 2%;
}

.share-md {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 36%;
  margin-top: 3%;
}
