.bg-light {
  background-color: getColour(header-colour) !important;
  padding: 2%;
}

.navbar {
  margin: 0;
  padding: 20px 0 20px 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: getColour(primary-colour) !important;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-left: $content-margin;
  font-family: $primary-font;
}

.d-flex {
  padding-right: $content-margin;
}

a.nav-link {
  color: getColour(title-colour) !important;
  font-size: 16px;

  @media (max-width: $tablet-width) {
    margin-top: 5%;
    padding-left: $content-margin !important;
  }
}

a.nav-link.active {
  color: getColour(title-colour) !important;
  background-color: white;
}

.me-2 {
  margin-right: 0 !important;
  font-size: 15px;
  color: getColour(secondary-colour) !important;
}

.form-control {
  color: white;
  border: none;
  border-radius: 0px;

  @media (max-width: $tablet-width) {
    margin-left: 5%;
  }
}

.btn-outline-success {
  background-color: getColour(primary-colour) !important;
  color: white;
  border: 0;
  font-size: 16px;
  border-radius: 0px 7px 7px 0px;
}

.navbar-toggler {
  color: getColour(secondary-colour) !important;
  border: none;
  margin-right: $content-margin !important;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin: 0% !important;
  }
}
